body {
  font-size : 1em;
  font-family : 'Muli', sans-serif;
  text-align : center;
}

h3 {
  border : 2px groove #BB8FCE;
  font-family : 'Pangolin', cursive;
  text-align : center;
  padding : 1em;
  font-size: 2.5em;
}

#definition {
  font-size: 0.5em;
}

#descifrado {
  border : 1px groove;
  display: inline-block;
  font-size: 1em;
  padding : 1em;
  width: 50%;
  height: 25%;
}
