body {
  font-size : 17px;
  font-family : 'Muli', sans-serif;
  text-align : center;
}

h3 {
  border : 2px groove #BB8FCE;
  font-family : 'Pangolin', cursive;
  text-align : center;
  padding : 10px;
  font-size: 3em;
}

input{
  padding: 12px 0px 12px 0px;
  text-align : center;
}

#definition {
  font-size: 12px;
}

#result {
  border : 1px groove;
  display: inline-block;
  font-size: 12px;
  padding : 1em;
  width: 50%;
  height: 25%;
}
