body {
  font-size : 20px;
  font-family : Arial;
  text-align : center;
}

h3 {
  border : 2px groove #BB8FCE;
  text-align : center;
  padding : 1em;
  font-size: 30px;
}

#definition{
  font-size: 15px;
  display: flex;
  justify-content: center;
}

#descifrado {
  border : 1px groove;
  font-size: 12px;
  display: flex;
  padding : 1em;
  width: 25%;
  height: 50%;
}
